.container {
  max-width: 800px; /* Increased width for more space */
  margin: 20px auto; /* Added more vertical margin */
  padding: 40px; /* Increased padding for more space inside */
  background-color: black; /* Add background color if needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 30px; /* More space below the header */
}

.search-bar {
  margin-bottom: 30px; /* Space below the search bar */
}

.form-control {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px;
  background-color: white; /* Make the background black */
  color: black;
  margin-right: 10px; /* Space between search input and button */
  transition: background-color 0.3s;
}

.form-control::placeholder { /* Style the placeholder text */
  color: black;
}

.btn_search {
  border: white;
  background-color: rgb(45, 112, 255);
  color: black;
  font-size: 14px;
  border-radius: 4px;
  height: 4%;
  width: 160px;
  cursor: pointer;
}

.btn_add{
  margin-bottom: 100px;
  background-color: rgb(46, 252, 46);
  color: black;
  font-size: 14px;
  border-radius: 4px;
  height: 4%;
  width: 160px;
  cursor: pointer;
  transition: background-color 0.2s; /* smooth transition for background color */
}

.btn_add:hover {
  background-color: green; /* darker green on hover */
  color: white; /* change text color on hover if you like */
}

/* Message when inventory is empty */
.inventory-list {
  text-align: center;
  margin-top: 50px; /* Space above the message */
  font-style: italic;
}
